$animationSpeed: 300ms;

.dropdownMenu {
  position: absolute;
  top: 6%;
  right: 1%;
  min-width: 13rem;

  @apply shadow-2xl rounded-xl border p-3 bg-white;

  & ul li {
    @apply p-2 rounded-sm;

    &:hover {
      @apply bg-gray-100 cursor-pointer;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: $animationSpeed ease;
  }

  &.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: $animationSpeed ease;
  }
}
