.container {
  display: flex;
  flex: 2;
}

.content {
  flex-grow: 1;
  flex: 1;

  @apply overflow-y-hidden max-h-screen;
}

.sidebar {
  background-image: url("/sidebar_pattern.svg");
  background-color: var(--mote-primary-color);

  background-repeat: repeat;
  flex-grow: 0.04;

  @apply flex items-center flex-col min-h-screen;
}

.notesContainer {
  @apply flex;
  gap: 1;
}

.notesSidebar {
  flex-grow: 1;
  max-width: 30%;
  min-width: 25%;
  @apply bg-neutral-100 h-screen max-h-screen overflow-auto;
}

.notesContent {
  flex-grow: 2;

  @apply overflow-y-auto m-8 mt-5;
}
