@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mote-primary-color: #457468;
  --mote-surface-color: #849a95;
  --mote-text-gray-color: #b4c4bf;
}

@layer base {
  :root {
    --color-primary: 69 116 104;
    --color-surface: 132 154 149;
    --mote-text-gray-color: #b4c4bf;
  }
}

@layer components {
  .btn {
    &.primary {
      @apply bg-blue-700;
    }

    &.text {
      @apply shadow-2xl border text-black;
    }

    &.secondary {
      @apply bg-gray-300 text-black p-2 rounded-md text-sm;
    }

    @apply text-white p-3 rounded-md text-sm flex leading-none;
  }
}

html {
  height: 100%;

  body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    div[data-overlay-container] {
      height: 100vh;
      margin: 0px;
      padding: 0px;
    }
  }
}
