@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    &.primary {
      @apply bg-blue-700;
    }

    &.text {
      @apply shadow-2xl border text-black;
    }

    &.secondary {
      @apply bg-gray-300 text-black p-2 rounded-md text-sm;
    }

    @apply text-white p-3 rounded-md text-sm flex leading-none;
  }
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;

  div[data-overlay-container] {
    height: 100vh;
    margin: 0px;
    padding: 0px;
  }
}
